---
import BaseHead from "../components/BaseHead.astro";
import SkipMain from "../components/buttons/SkipMain.astro";
import Footer from "../components/Footer.astro";
import NavMainDark from "../components/navigation/NavMain-Dark.astro";
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
        title="About Digs Construction | Trusted Construction Experts Since 2005"
        description="Discover Digs Construction's commitment to quality, innovation, and customer satisfaction. Learn about our history, values, and expertise in commercial and residential construction."
        keywords="Digs Construction, about Digs Construction, construction company, general contractor, commercial construction, residential construction, Los Alamos construction"
        url="https://digs.construction/about"
    />    
    </head>
    <body>
        <SkipMain />
        <header>
            <NavMainDark />            
        </header>
        <main id="main">
            <section id="top">
                <div class="padding-xl-top">
                    <div class="container">
                        <div class="wrapper-col">
                            <div class="wrapper">
                                <h1 class="title-page">Built With <span class="highlight">Pride</span> Driven By Results</h1>
                                <p class="body-md">
                                    Since 2005, Digs Construction has been delivering top-tier demolition, sitework, and civil construction services across Los Alamos and White Rock. As an employee-owned company, we take full ownership of every project, ensuring precision, efficiency, and results that stand the test of time.
                                </p>
                                <div class="wrapper-btn">
                                    <a href="/contact" class="btn-primary">Work With Us</a>
                                    <a href="/services" class="btn-secondary black-btn">Our Services</a>
                                </div>
                            </div>
                            <div class="wrapper">
                                <img class="img" alt="Yellow paving machine loaded onto a red Landoll trailer, secured for transport by a blue semi-truck." src="/images/static/tractor-2.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-relative">
                <div class="padding-global">
                    <div class="container">
                        <div class="wrapper-col right-larger">
                            <div class="wrapper">
                                <img class="img-tall" alt="Yellow paving machine parked on a leveled dirt surface near a construction site, with retaining walls and an unfinished building in the foreground." src="/images/static/tractor-3.webp">
                            </div>
                            <div class="wrapper first">
                                <h2 class="title-section">Setting A Standard <br>In <span class="highlight">Construction</span></h2>
                                <p class="body-md">
                                    At Digs Construction, success is built on expertise, accountability, and collaboration. As an employee-owned company, every project reflects our commitment to precision and quality. We work closely with owners, architects, designers, engineers, and suppliers to ensure seamless execution from start to finish.
                                </p>
                                <p class="body-md">
                                    Through open communication and proactive leadership, we don’t just complete projects—we build lasting relationships. Our reputation is founded on trust, craftsmanship, and an unwavering dedication to excellence.
                                </p>
                                <div class="wrapper-btn">
                                    <a href="/contact" class="btn-primary">Work With Us</a>
                                    <a href="/services" class="btn-secondary black-btn">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="bg-concrete" src="/images/backgrounds/bg_concrete.webp">
            </section>
            <section>
                <div class="padding-global">
                    <div class="container">
                            <div class="title-bar">
                                <div class="divider-bar-short"></div>
                                <h2 class="title-lg txt-center txt-red no-margin">Our Mission</h2>
                                <div class="divider-bar-short"></div>
                            </div>
                        <h3 class="title-section txt-center">The Digs Philosophy</h3>
                        <p class="body-md txt-center">
                            At Digs Construction, we believe the foundation of every successful project is collaboration, precision, and accountability. As an employee-owned company, we take pride in fostering strong partnerships with owners, architects, designers, engineers, and suppliers.Through open communication and proactive leadership, we ensure every project is executed with efficiency and integrity. More than just delivering results, we build lasting relationships—earning trust through reliability, craftsmanship, and commitment to excellence.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="padding-global">
                    <div class="container">
                        <div class="wrapper-col-overlap">
                            <div class="wrapper-red">
                                <h2 class="title-section txt-white">Our Core Values</h2>
                                <ul>
                                    <li class="body-md txt-white">
                                        <strong>Integrity:</strong> We do what’s right, always. Our work is built on honesty, accountability, and a commitment to excellence.
                                    </li>
                                    <li class="body-md txt-white">
                                        <strong>Safety:</strong> Protecting our team, partners, and communities is our top priority. We follow strict industry standards to ensure a safe work environment.
                                    </li>
                                    <li class="body-md txt-white">
                                        <strong>Quality:</strong> Every project we take on is executed with precision, durability, and expert craftsmanship. We don’t just build—we build it right.
                                    </li>
                                    <li class="body-md txt-white">
                                        <strong>Collaboration:</strong> Great projects are a team effort. We work closely with owners, architects, and engineers to deliver seamless, high-quality results.
                                    </li>
                                    <li class="body-md txt-white">
                                        <strong>Ownership:</strong> As an employee-owned company, every member of our team has a stake in our success, ensuring dedication and pride in every project.
                                    </li>
                                </ul>
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="Construction crew using heavy machinery to move large rocks and prepare a site for development in a mountainous area." src="/images/static/service-sitework.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="padding-lg">
                    <div class="container">
                        <div class="wrapper-mission">
                            <div class="title-bar">
                                <div class="divider-bar-short"></div>
                                <h2 class="title-lg txt-center txt-red no-margin">Contact Us</h2>
                                <div class="divider-bar-short"></div>
                            </div>
                            <h3 class="title-section txt-center">Let's Get Started <br>On Your Project</h3>
                            <div class="btn-center">
                                <a href="/estimate" class="btn-primary">Request an Estimate</a>
                                <a href="/contact" class="btn-secondary black-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <Footer />
    </body>
</html>