---
import BaseHead from "../components/BaseHead.astro";
import SkipMain from "../components/buttons/SkipMain.astro";
import Footer from "../components/Footer.astro";
import NavMainDark from "../components/navigation/NavMain-Dark.astro";
import ServiceCard from "../components/ServiceCard.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
        title="Project Gallery | Digs Construction's Latest Work & Completed Projects"
        description="Explore Digs Construction’s gallery showcasing our latest infrastructure, paving, site work, and demolition projects. See our quality craftsmanship in action."
        keywords="Digs Construction projects, construction gallery, completed construction projects, infrastructure work, paving projects, site work, demolition projects, contractor portfolio"
        url="https://digs.construction/gallery"
    />    
    </head>
    <body>
        <SkipMain />
        <header>
            <NavMainDark />            
        </header>
        <main id="main">
            <section id="top">
                <div class="padding-xl-top">
                    <div class="container">
                        <div class="wrapper">
                            <div class="title-bar">
                                <div class="divider-bar-short"></div>
                                <h1 class="title-lg txt-center txt-red no-margin">Project Gallery</h1>
                                <div class="divider-bar-short"></div>
                            </div>
                            <h2 class="title-page txt-center">Built With <span class="highlight">Precision</span> Proven By Results</h2>
                            <div class="wrapper-btn btn-center">
                                <a href="/contact" class="btn-primary">Work With Us</a>
                                <a href="/careers" class="btn-secondary black-btn">Explore Careers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section" id="infrastructure">
                <div class="padding-global">
                    <div class="container">
                        <div class="title-bar">
                            <h2 class="title-md no-margin txt-red">Infrastructure</h2>
                            <div class="divider-bar"></div>
                        </div>
                        <div class="wrapper-grid">
                            <div class="wrapper">
                                <img class="img-wide" alt="A dirt pathway leading up to a newly constructed retaining wall behind a commercial building." height="663" width="745" src="/images/gallery/infrastructure/gallery-infrastructure-1.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A close-up of a textured retaining wall made from large, natural stone blocks." height="663" width="745" src="/images/gallery/infrastructure/gallery-infrastructure-2.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="Construction workers smoothing freshly poured concrete on a sloped roadway." height="663" width="745" src="/images/gallery/infrastructure/gallery-infrastructure-3.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A team of workers using tools to level and finish a large concrete pavement section." height="663" width="745" src="/images/gallery/infrastructure/gallery-infrastructure-4.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="An active construction site featuring underground utility installation and foundation preparation." height="663" width="745" src="/images/gallery/infrastructure/gallery-infrastructure-5.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A newly built concrete walkway curving around a construction site with block walls." height="663" width="745" src="/images/gallery/infrastructure/gallery-infrastructure-6.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A crane lifting a large concrete block to place it on top of a massive retaining wall under a sunny sky." height="663" width="745" src="/images/gallery/infrastructure/gallery-infrastructure-7.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A side-angle close-up of a concrete block retaining wall with a dirt path alongside it." height="663" width="745" src="/images/gallery/infrastructure/gallery-infrastructure-8.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section" id="paving">
                <div class="padding-global">
                    <div class="container">
                        <div class="title-bar">
                            <h2 class="title-md no-margin txt-red">Paving</h2>
                            <div class="divider-bar"></div>
                        </div>
                        <div class="wrapper-grid">
                            <div class="wrapper">
                                <img class="img-wide" alt="Worker operating a yellow asphalt paving machine under a cloudy sky." height="663" width="745" src="/images/gallery/paving/gallery-paving-1.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="Large roller compactor smoothing a parking lot surface near a commercial building." height="663" width="745" src="/images/gallery/paving/gallery-paving-2.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt=" Freshly paved driveway next to a house under construction." height="663" width="745" src="/images/gallery/paving/gallery-paving-3.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="Newly laid asphalt road leading uphill with construction vehicles in the background." height="663" width="745" src="/images/gallery/paving/gallery-paving-4.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section" id="site-work">
                <div class="padding-global">
                    <div class="container">
                        <div class="title-bar">
                            <h2 class="title-md no-margin txt-red">Site Work</h2>
                            <div class="divider-bar"></div>
                        </div>
                        <div class="wrapper-grid">
                            <div class="wrapper">
                                <img class="img-wide" alt="A large yellow Liebherr bulldozer moving a pile of dirt at a construction site under a clear blue sky." height="663" width="745" src="/images/gallery/sitework/gallery-sitework-1.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A Komatsu mini excavator working on a residential site, clearing dirt and debris near a house." height="663" width="745" src="/images/gallery/sitework/gallery-sitework-2.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A construction worker operating a water truck, spraying water on a dusty road at a site in a mountainous area." height="663" width="745" src="/images/gallery/sitework/gallery-sitework-3.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A Bobcat skid-steer loader grading a dirt path near a commercial building while workers in safety vests stand nearby." height="663" width="745" src="/images/gallery/sitework/gallery-sitework-4.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A Komatsu excavator digging and moving dirt at a construction site surrounded by trees." height="663" width="745" src="/images/gallery/sitework/gallery-sitework-5.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A dirt road under development in front of a partially constructed house with exposed wood framing." height="663" width="745" src="/images/gallery/sitework/gallery-sitework-6.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A rocky construction site with heavy machinery and workers preparing the ground for development." height="663" width="745" src="/images/gallery/sitework/gallery-sitework-7.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="A construction worker operating a Caterpillar skid-steer loader, moving dirt near a retaining wall made of large stone blocks." height="663" width="745" src="/images/gallery/sitework/gallery-sitework-8.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section" id="demo">
                <div class="padding-global">
                    <div class="container">
                        <div class="title-bar">
                            <h2 class="title-md no-margin txt-red">Demolition</h2>
                            <div class="divider-bar"></div>
                        </div>
                        <div class="wrapper-grid">
                            <div class="wrapper">
                                <img class="img-wide" alt="Excavator clearing a demolition site with debris and rubble." height="663" width="745" src="/images/gallery/demolition/gallery-demo-1.webp">
                            </div>
                            <div class="wrapper">
                                <img class="img-wide" alt="Construction workers and an excavator removing debris from a demolished structure." height="663" width="745" src="/images/gallery/demolition/gallery-demo-2.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="padding-lg">
                    <div class="container">
                        <div class="wrapper-mission">
                            <div class="title-bar">
                                <div class="divider-bar-short"></div>
                                <h2 class="title-lg txt-center txt-red no-margin">Contact Us</h2>
                                <div class="divider-bar-short"></div>
                            </div>
                            <h3 class="title-section txt-center">Let's Get Started <br>On Your Project</h3>
                            <div class="btn-center">
                                <a href="/estimate" class="btn-primary">Request an Estimate</a>
                                <a href="/contact" class="btn-secondary black-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <Footer />
    </body>
</html>