<footer class="footer">
  <div class="padding-footer">
    <div class="container">
        <div class="wrapper-footer">
            <div class="wrapper first">
                <img class="logo-footer" src="/images/logo/logo-white.svg" alt="Digs Construction Logo">
            </div>
            <div class="wrapper-footer-col">
                <div class="footer-menu">
                    <h3 class="footer-title">What We Do</h3>
                    <ul class="list-footer">
                        <li class="body-md txt-white">Demolition</li>
                        <li class="body-md txt-white">Infrastructure</li>
                        <li class="body-md txt-white">Site Work</li>
                        <li class="body-md txt-white">Paving</li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h3 class="footer-title">Our Company</h3>
                    <ul class="list-footer">
                        <li><a href="/about">About Digs</a></li>
                        <li><a href="/gallery">Project Gallery</a></li>
                        <li><a href="/careers">Careers</a></li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h3 class="footer-title">Get In Touch</h3>
                    <ul class="list-footer">
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="tel:+15056636115">(505) 663-6115</a></li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h3 class="footer-title">Our Office</h3>
                    <h4 class="body-md txt-white"><strong>Los Alamos</strong></h4>
                    <p class="body-md txt-white">2470 East Road Suite B<br>Los Alamos, NM 87544</p>
                </div>
            </div>
        </div>
        <hr class="footer-divider" />
        <div class="footer-bottom">
            <p class="body-sm txt-white txt-center">© {new Date().getFullYear()} Digs Construction, LLC | Digs Construction is an Equal Employment Opportunity Employer</p>
            <ul class="legal-links">
              <li><a href="/accessibility">Accessibility</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms">Terms of Service</a></li>
            </ul>
        </div>
      </div>
    </div>
</footer>